<div class="contenido_lading_page">

    <div class="flex items-center justify-between px-6 py-4 w-full">

        <div class="flex-shrink-0">
            <div class="w-12 h-12 rounded-full bg-gray-200 flex items-center justify-center text-gray-600 font-bold">
                A
            </div>
        </div>

        <nav class="flex-grow max-w-xl mx-10 ">

            <ul class="flex justify-between bg-blue-950 rounded-xl px-6 py-3 shadow">
                <li><a href="#" class="text-white font-medium">Inicio</a></li>
                <li><a href="#Beneficios" class="text-white font-medium">Beneficios</a></li>
                <li><a href="#desarrolladores" class="text-white font-medium">Developers</a></li>
                <li><a href="#" class="text-white font-medium">Contacto</a></li>
                <li><a href="#" class="text-white font-medium">Acerca</a></li>
            </ul>

        </nav>

        <div class="flex space-x-4">
            <a routerLink="/inicio" routerLinkActive="activo">
                <button
                    class="bg-white text-blue-950 border border-blue-950 hover:bg-blue-50 transition px-4 py-2 rounded-lg font-semibold">
                    Iniciar
                </button></a>
        </div>

    </div>


    <div class="flex justify-around mt-12">
        <div class=" grid">
            <h1 class="font-black text-7xl">
                SoliFyx Core <br><span class="text-blue-600 "> Tu Nuevo Mundo <br> Digital </span>
            </h1>
            <div class="flex gap-12  w-full h-11 mt-20">
                <button class="bg-blue-500 rounded-lg text-white font-bold  p-2  ">Conocenos Mejor</button>
                <button class="bg-blue-500 rounded-lg text-white font-bold  p-2  ">Crear Cuenta</button>
            </div>
        </div>
        <div>

            <img src="https://bluewallet.io/uploads//desktop-bitcoin-wallet.png" alt="img_wallet_ch"
                class="w-90 h-80   ">

        </div>
    </div>


    <div class="contenido_principal ml-7 mr-7">
        <div>

            <div class="flex   justify-around mt-10 ">
                <div>
                    <p class=" font-bold text-xl text-gray-800 ">Con la Confianza de <br> mas de <span
                            class=" text-blue-600  "> 0 </span> personas</p>
                </div>

                <div>
                    <p class=" font-bold text-xl text-gray-800  ">Fundado en
                        <br><span class=" text-blue-600  ">2017</span>
                    </p>
                </div>
                <div>
                    <p class=" font-bold text-xl text-gray-800 ">Auditoría <br>
                        independiente</p>
                </div>
                <div class=" font-bold text-xl justify-center text-gray-600  ">
                    <p>Mejores comentarios</p>
                    <img src="https://png.pngtree.com/png-vector/20220530/ourmid/pngtree-3d-rating-stars-icon-for-review-product-png-image_4761748.png"
                        class="w-51 h-12">
                </div>

            </div>

            <div class=" mt-10">

                <div class="flex gap-20 justify-around ">

                    <div class="bg-blue-950 rounded-lg  w-full shadow-xl/20">
                        <div class="m-4">
                            <p class="text-white font-bold text-3xl ">Convertir Moneda </p>
                            <div class="mt-2 flex gap-2 items-center justify-center">
                                <p class="text-white font-normal text-xl">
                                    La aplicación ajusta a tu país y ajusta el precio de Ethereum (ETH) automáticamente
                                    a la
                                    moneda local.
                                </p>
                                <img src="https://png.pngtree.com/png-clipart/20230822/original/pngtree-convert-curency-or-exchange-picture-image_8169863.png"
                                    class="w-40 h-50">

                            </div>
                        </div>
                    </div>


                    <div class="bg-blue-950 rounded-lg  w-full shadow-xl/20">
                        <div class="m-4">
                            <p class="text-white font-bold text-3xl ">Convertir Moneda </p>
                            <div class="mt-2 flex gap-2 items-center justify-center">
                                <p class="text-white font-normal text-xl">
                                    La aplicación ajusta a tu país y ajusta el precio de Ethereum (ETH) automáticamente
                                    a la
                                    moneda local.
                                </p>
                                <img src="https://png.pngtree.com/png-clipart/20230822/original/pngtree-convert-curency-or-exchange-picture-image_8169863.png"
                                    class="w-40 h-50">

                            </div>
                        </div>
                    </div>
                </div>


            </div>

            <div class=" mt-8 ">
                <div class="bg-gray-300 rounded-xl p-8">
                    <p id="Beneficios" class="text-4xl text-gray-800 font-bold">Beneficios</p>


                    <div class="flex justify-around mt-4 items-center">

                        <ul class="text-xl text-gray-700 space-y-4 max-w-md">
                            <li class="flex items-center space-x-3">
                                <svg class="w-6 h-6 text-green-400" fill="none" stroke="currentColor"
                                    viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M5 13l4 4L19 7"></path>
                                </svg>
                                <span>Transacciones Rápidas y Seguras</span>
                            </li>
                            <li class="flex items-center space-x-3">
                                <svg class="w-6 h-6 text-green-400" fill="none" stroke="currentColor"
                                    viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M5 13l4 4L19 7"></path>
                                </svg>
                                <span>Conversión Automática de Criptomonedas a Monedas Locales</span>
                            </li>
                            <li class="flex items-center space-x-3">
                                <svg class="w-6 h-6 text-green-400" fill="none" stroke="currentColor"
                                    viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M5 13l4 4L19 7"></path>
                                </svg>
                                <span>Interacción Multirredes</span>
                            </li>
                            <li class="flex items-center space-x-3">
                                <svg class="w-6 h-6 text-green-400" fill="none" stroke="currentColor"
                                    viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M5 13l4 4L19 7"></path>
                                </svg>
                                <span>Escaneo de Códigos QR para Facilitar Transacciones</span>
                            </li>
                            <li class="flex items-center space-x-3">
                                <svg class="w-6 h-6 text-green-400" fill="none" stroke="currentColor"
                                    viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M5 13l4 4L19 7"></path>
                                </svg>
                                <span>Soporte Multilingüe</span>
                            </li>
                            <li class="flex items-center space-x-3">
                                <svg class="w-6 h-6 text-yellow-400" fill="none" stroke="currentColor"
                                    viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M5 13l4 4L19 7"></path>
                                </svg>
                                <span>Visualización de Historial de Transacciones</span>
                            </li>
                        </ul>

                        <img src="https://www.brickcontrol.com/wp-content/uploads/2022/05/control-de-costos-y-avances-del-proyecto.png"
                            class="w-90 h-80">

                    </div>

                </div>
            </div>

            <div class="mt-20 px-4 ">
                <p class="font-bold text-gray-800 text-4xl text-center">Características</p>

                <div class="mt-12 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">

                    <div
                        class="flex flex-col items-center justify-center text-center p-6 bg-white shadow-lg rounded-lg hover:shadow-2xl transition duration-300 ease-in-out">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3ymr3UNKopfI0NmUY95Dr-0589vG-91KuAA&s"
                            alt="Metamask" class="w-16 h-16 mb-4">
                        <p class="font-semibold text-lg text-gray-800">Integración con Metamask</p>
                        <p class="text-gray-600 text-base mt-2">La aplicación se integra directamente con Metamask, lo
                            que
                            te permite gestionar tus fondos y realizar transacciones de forma segura. Solo necesitas tu
                            cuenta de Metamask para empezar a usar todas las funciones.</p>
                    </div>

                    <div
                        class="flex flex-col items-center justify-center text-center p-6 bg-white shadow-lg rounded-lg hover:shadow-2xl transition duration-300 ease-in-out">
                        <img src="https://cdn-icons-gif.flaticon.com/17688/17688171.gif" alt="Valor actualizado"
                            class="w-16 h-16 mb-4">
                        <p class="font-semibold text-lg text-gray-800">Valor en Tiempo Real</p>
                        <p class="text-gray-600 text-base mt-2">El valor de tus activos se actualiza automáticamente
                            para
                            reflejar las fluctuaciones del mercado. Con esta característica, puedes estar seguro de que
                            siempre sabrás cuánto valen tus criptos en tu moneda local.</p>
                    </div>

                    <div
                        class="flex flex-col items-center justify-center text-center p-6 bg-white shadow-lg rounded-lg hover:shadow-2xl transition duration-300 ease-in-out">
                        <img src="https://econsultora.com.ar/wp-content/uploads/2021/10/Marketing.gif"
                            alt="Redes de prueba" class="w-16 h-16 mb-4">
                        <p class="font-semibold text-lg text-gray-800">Cambia entre Redes de Ethereum</p>
                        <p class="text-gray-600 text-base mt-2">Cambia entre la mainnet de Ethereum y redes de prueba
                            como
                            Sepolia o Goerli para probar transacciones sin riesgo.</p>
                    </div>

                </div>





                <div class="mt-12 flex gap-8  justify-center  ">

                    <div
                        class="flex flex-col items-center justify-center text-center p-6 bg-white shadow-lg rounded-lg hover:shadow-2xl transition duration-300 ease-in-out">
                        <img src="https://media.lordicon.com/icons/wired/outline/1335-qr-code.gif" alt="Metamask"
                            class="w-16 h-16 mb-4">
                        <p class="font-semibold text-lg text-gray-800">Escaneo de QR</p>
                        <p class="text-gray-600 text-base mt-2">La funcionalidad de escaneo de códigos QR hace que sea
                            mucho
                            más sencillo realizar pagos o recibir fondos.</p>
                    </div>

                    <div
                        class="flex flex-col items-center justify-center text-center p-6 bg-white shadow-lg rounded-lg hover:shadow-2xl transition duration-300 ease-in-out">
                        <img src="https://media.tenor.com/s1dqsQPPpEMAAAAj/moneda.gif" alt="Valor actualizado"
                            class="w-16 h-16 mb-4">
                        <p class="font-semibold text-lg text-gray-800">Soporte Multimoneda</p>
                        <p class="text-gray-600 text-base mt-2">No solo puedes ver el valor de tu ETH en tu moneda
                            local,
                            sino que también puedes ver otros valores en tiempo real.</p>
                    </div>


                </div>
            </div>









            <div class="mt-20 px-4  w-md">
                <p class="font-bold text-gray-800 text-4xl text-center">Objetivos</p>

                <div class="mt-12 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">

                    <div
                        class="flex flex-col items-center justify-center text-center p-6 bg-white shadow-lg rounded-lg hover:shadow-2xl transition duration-300 ease-in-out">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3ymr3UNKopfI0NmUY95Dr-0589vG-91KuAA&s"
                            alt="Metamask" class="w-16 h-16 mb-4">
                        <p class="font-semibold text-lg text-gray-800">Permitir el cambio de país o idioma</p>
                        <p class="text-gray-600 text-base mt-2">ajustar la visualización del valor de ETH según la
                            moneda local </p>
                    </div>

                    <div
                        class="flex flex-col items-center justify-center text-center p-6 bg-white shadow-lg rounded-lg hover:shadow-2xl transition duration-300 ease-in-out">
                        <img src="https://cdn-icons-gif.flaticon.com/17688/17688171.gif" alt="Valor actualizado"
                            class="w-16 h-16 mb-4">
                        <p class="font-semibold text-lg text-gray-800">Incorporar un historial de transacciones</p>
                        <p class="text-gray-600 text-base mt-2">el usuario pueda consultar todas las operaciones
                            realizadas desde su cuenta.</p>
                    </div>

                    <div
                        class="flex flex-col items-center justify-center text-center p-6 bg-white shadow-lg rounded-lg hover:shadow-2xl transition duration-300 ease-in-out">
                        <img src="https://econsultora.com.ar/wp-content/uploads/2021/10/Marketing.gif"
                            alt="Redes de prueba" class="w-16 h-16 mb-4">
                        <p class="font-semibold text-lg text-gray-800">Diseñar un módulo de contactos personales</p>
                        <p class="text-gray-600 text-base mt-2">los usuarios puedan registrar direcciones frecuentes
                            para enviar ETH sin necesidad de escribirlas manualmente.</p>
                    </div>

                </div>






            </div>
        </div>

    </div>



    <div class="bg-gradient-to-br from-indigo-50 to-white py-16" id="desarrolladores">
        <div class="max-w-6xl mx-auto px-4">
            <h2 class="text-4xl font-extrabold text-center text-gray-800 mb-12">Nuestro Equipo</h2>

            <div class="grid grid-cols-1 sm:grid-cols-2 gap-10">
                <div
                    class="bg-white rounded-3xl shadow-lg p-8 text-center hover:shadow-2xl transition-all duration-300">
                    <img src="https://previews.123rf.com/images/virtosmedia/virtosmedia2302/virtosmedia230216492/198356073-retrato-de-jesucristo-en-la-ilustraci%C3%B3n-de-vector-de-perfil-grunge.jpg"
                        alt="Luis Tasayco"
                        class="w-32 h-32 mx-auto rounded-full object-cover border-4 border-indigo-600 mb-6" />
                    <h3 class="text-2xl font-bold text-gray-800">Luis Tasayco</h3>
                    <p class="text-indigo-500 font-medium">Desarrollador Backend</p>
                    <p class="mt-4 text-gray-600">Apasionado por la tecnología blockchain y la arquitectura de sistemas
                        seguros.</p>
                </div>

                <div
                    class="bg-white rounded-3xl shadow-lg p-8 text-center hover:shadow-2xl transition-all duration-300">
                    <img src="assets/images/gimenaccoracc.jpg"
                        alt="Gimena Corracc"
                        class="w-32 h-32 mx-auto rounded-full object-cover border-4 border-pink-500 mb-6" />
                    <h3 class="text-2xl font-bold text-gray-800">Gimena Corracc</h3>
                    <p class="text-pink-500 font-medium">Desarrolladora Frontend</p>
                    <p class="mt-4 text-gray-600">Diseña experiencias de usuario intuitivas y visualmente atractivas.
                    </p>
                </div>
            </div>
        </div>
    </div>


</div>
